{{docs-hero
  prefix="ember"
  heading="data-graphic"
  byline=""
}}

<div class="docs-bg-white docs-flex-1">
  <div class="docs-container docs-md docs-mt-8">
    <section class="docs-max-w-md docs-mx-auto docs-pb-8">
      <p id="intro__block" class="docs-mx-auto">
        <code>ember-data-graphic</code> is an Ember addon for building composable data graphics. It take concepts from Grammar of Graphics and borrow heavily from libraries like d3.js and vega.js.
      </p>
    </section>
  </div>
</div>
